.cta_button {
  border: 2px solid black;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.cta_button:hover {
  background-color: #0a0a23; /* Green */
  color: #ffffff;
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.box {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
