name: Classroom ci

on: [push, pull_request]

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.14.2]

    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      - name: Setup node
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3
        with:
          node-version: 16.20.x
          cache: npm

      - name: Install modules
        run: npm ci

      - name: Run lint
        run: npm run lint:code

      - name: Run tests
        run: npm run test
